@import "sidebar.css";
@import "card.css";
@import "dashboard.css";
@import "button.css";
@import "configuracion.css";
@import "chart.css";
@import "notification-table.css";
@import "create-notification.css";

/* assets/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.content{
    width: 85vw;
    padding: 1% 5% 1% 5%;
    background-color: #e9eaea;
}

/* --configuracion-container-- */

.configuracion-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px; 
}

.left-side, .right-side {
    flex: 1; 
}

.left-side h2, .right-side h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.switch-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1abc9c;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.image-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

/* download-container */

.download-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre el título y el botón */
}

.download-container .title {
    color: #2c3e50;
    margin: 0; /* Eliminar margen por defecto */
    text-align: left; /* Alinear el título a la izquierda */
}

.download-container .button-center {
    display: flex;
    justify-content: center; /* Centrar el botón horizontalmente */
}